<div class="well well-lg">
  <h1>Administrator Options</h1>
  <div class="panel panel-success">
    <div class="panel-heading">
  <h3 class="panel-title">Events</h3></div>
  <div class="panel-body">
  <table>
    <tr>
      <th>Location</th>
      <th>Date</th>
      <th>Time</th>
    </tr>

  <% @events.each do |event| %>
    <tr>
  	<% location = event.address + ", " + event.city + ", " + event.state %>
      <td class="col-sm-3"><%= link_to location, event %></td>
      <td class="col-sm-3"><%= event.date.to_date %></td>
      <td class="col-sm-2"><%= event.date.to_s(:time) %></td>
      <td class="col-sm-2"> <%= link_to 'Edit', edit_event_path(event), :class=>"btn btn-default btn-sm"%></td>
      <td class="col-sm-2"><%= button_to 'Destroy', event, confirm: 'Are you sure?', method: :delete , :class=>"btn btn-default btn-sm"%></td>
    </tr>
  <% end %>
  </table>
  <hr>
    <%= link_to 'New Event', new_event_path, :class=>"btn btn-success btn-large" %> 
  </div></div>
  <br />


  <h3>Administrators</h3>
  <table>
    <% @admins.each do |admin| %>
      <tr>
        <td><%= admin.first_name + " " + admin.last_name %> (<%= link_to admin.username, admin %>)</td>
        <td>

          <% unless admin.id == @current_user.id %>
            <%= form_tag({controller: 'users', action: 'remove_admin'}, method: 'post') do %>
              <%= hidden_field_tag(:user_id, admin.id) %>
              <%= submit_tag('Remove', :class=>"btn btn-danger btn-sm") %>
            <% end %>
          <% end %>
        </td>
      </tr>
     <% end %>
  </table>
  
  <p class="notice"><%= notice %></p>
  <div class="form-inline" role="form">
  <div class="form-group">
  <%= form_tag({controller: 'users', action: 'new_admin'}, method: 'post') do %>
    <%= text_field(:user, :username, autocomplete: 'off', placeholder: 'Enter username', :class=>"form-control") %></div>
    <div class="form-group">
    <%= submit_tag('Add as administrator',:class=>"btn btn-success btn-sm") %></div>
  <% end %>
</div>
