<p id="notice"><%= notice %></p>

<h1>Event Info</h1>

<p>
  <b>Location:</b>
  <%= @event.location %>
</p>

<p>
  <b>Date:</b>
  <%= @event.date.to_date %>
</p>

<p>
  <b>Time:</b>
  <%= @event.date.to_s(:time) %>
</p>

<table>
	<th colspan="3">Participants in this event</th>
	<% if @event.users.empty? %>
		<tr><td>No participants have signed up for this event yet.</td></tr>
	<% else %>
		<% @event.users.sort_by {|h| [h["last_name"],h["first_name"]]}.each do |user| %>
		<tr class="<%= cycle('even-row', 'odd-row') %>">
			<td class="cell"><%= link_to user.username, user %></td>
			<td class="cell"><%= user.last_name %></td>
			<td class="cell"><%= user.first_name %></td>
		</tr>
		<% end %>
	<% end %>
</table>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
