<p id="notice"><%= notice %></p>

<h1>Event Info</h1>

<p>
  <b>Location:</b>
  <%= @event.location %>
</p>

<p>
  <b>Date:</b>
  <%= @event.date.to_date %>
</p>

<p>
  <b>Time:</b>
  <%= @event.date.to_s(:time) %>
</p>

<p>
	<h2>Participants in this event:</h2><br />
	<table>
		<% @event.users.sort_by {|h| [h["last_name"],h["first_name"]]}.each do |user| %>
		<tr>
			<td><%= link_to user.username, user %></td>
			<td><%= user.last_name %></td>
			<td><%= user.first_name %></td>
		</tr>
		<% end %>
	</table>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
