<p id="notice"><%= notice %></p>

<h1>Event Info</h1>

<p>
  <b>Location:</b>
  <%= @event.location %>
</p>

<p>
  <b>Date:</b>
  <%= @event.date.to_date %>
</p>

<p>
  <b>Time:</b>
  <%= @event.date.to_s(:time) %>
</p>

<% if @logged_in %>
	<% if @event.users.include?(@current_user) %>
		<%= form_tag(action: 'unenroll', method: 'post') do %>
			<%= hidden_field_tag(:event_id, @event.id) %>
			<%= hidden_field_tag(:user_id, @current_user.id) %>
			<%= submit_tag('Unenroll') %>
		<% end %>
	<% else %>
		<%= form_tag(action: 'sign_up', method: 'post') do %>
			<%= hidden_field_tag(:event_id, @event.id) %>
			<%= hidden_field_tag(:user_id, @current_user.id) %>
			<%= submit_tag('Sign Up') %>
		<% end %>
	<% end %>
<% end %>

<table>
	<th colspan="3">Participants in this event</th>
	<% if @event.users.empty? %>
		<tr><td>No participants have signed up for this event yet.</td></tr>
	<% else %>
		<% @event.users.sort_by {|h| [h["last_name"],h["first_name"]]}.each do |user| %>
		<tr class="<%= cycle('even-row', 'odd-row') %>">
			<td class="cell"><%= link_to user.username, user %></td>
			<td class="cell"><%= user.last_name %></td>
			<td class="cell"><%= user.first_name %></td>
		</tr>
		<% end %>
	<% end %>
</table>
<%= link_to 'Home', controller: 'public', action: 'index' %>
<% if @logged_in && @current_user.rank == true %>
	| <%= link_to 'Edit Event', edit_event_path(@event) %> |
	<%= link_to 'Admin List', events_path %>
<% end %>
