<h1>Main Page</h1>
<%= link_to 'Login', action: 'login' %> or <%= link_to 'Register', action: 'register' %>
<h2>Events</h2>
<table>
  <tr>
	<th>Location</th>
	<th>Date</th>
	<th>Time</th>
  </tr>
<% @events.each do |event| %>
  <tr>
	<td><%= link_to event.location, controller: 'events', action: 'show', id: event.id %></td>
	<td><%= event.date %></td>
	<td><%= event.time.to_s(:time) %></td>
  </tr>
<% end %>
</table>
