<div class="well">
<h1>Charity Fundraiser</h1>
<h2>Events</h2>
<table>
  <tr>
	<th>Location</th>
	<th>Date</th>
	<th>Time</th>
	<th>Participants</th>
  </tr>
<% @events.each do |event| %>
  <tr class="<%= cycle('even-row','odd-row') %>">
	<% location = event.address + ", " + event.city + ", " + event.state %>
	<td><%= link_to location, controller: 'events', action: 'show', id: event.id %></td>
	<td class="cell"><%= event.date.to_date %></td>
	<td class="cell"><%= event.date.to_s(:time) %></td>
	<td class="cell-right"><%= event.users.count %></td>
  </tr>
<% end %>
</table>
</div>
