<h1>Login</h1>

<p id="alert"><%= alert %></p>

<%= form_tag("/users/login", method: 'post') do %>
Username: <%= text_field(:user, :username) %><br />
Password: <%= password_field(:user, :password) %><br />
<%= submit_tag("Login") %>
<% end %>

<%= link_to "Home", action: "index" %>
