<h1>Register</h1>

<%= form_tag("/users/register", method: 'post') do %>
First Name: <%= text_field(:user, :first_name, autocomplete: :off) %><br />
Last Name: <%= text_field(:user, :last_name, autocomplete: :off) %><br />
Birthdate: <%= date_select(:user, :birthdate, start_year: 1900) %><br />
Username: <%= text_field(:user, :username, autocomplete: :off) %><br />
Password: <%= password_field(:user, :password) %><br />
Password again: <%= password_field(:user, :password_confirmation) %><br />
<%= submit_tag("Register") %>
<% end %>

<%= link_to "Home", action: "index" %>
